.instruction-container {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

        .halfsq-img-container {
            float: left;
            z-index: -1;
            bottom: -1300px;
            right: 0px;
            position: absolute;
        
            @media (max-width: 630px) {
                display: none;
              }
              
        }
    

    
    .instruction-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        padding: 35px;
        margin-bottom: 75px;

        .instruction {
            width: 27%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;

            .instruction-img-container {
                width: 200px;
                height: 200px;
                display: grid;
                place-items: center;
                .instruction-img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .instruction-text-container {
                margin-top: 25px;
                width: 100%;;
                color: #707070;
                text-align: center;
                
                

                h2 {
                    font-weight: 700;
                    font-size: 1.7em;
                }
            }
        }
    }
}