.homepage-container {
    height: 2000px;

    .title-container {
        text-align: center;
        width: 75%;
        margin: 0 auto;
        margin-top: 300px;
        color: #707070;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 275px;

        h1 {
            font-size: 2.8em;
        }
    }
    .contact-page-circle-1 {
        z-index: -1;
        position: absolute;
        bottom: 100px;
        left: -200px;
        width: 1200px;
        height: 800px;
        background: #E3EFF9;
        transform: rotate(21deg);
    
        @media (max-width: 630px) {
            display: none;
          }
          
    }
   
}