.homepage-container {
    height: 2000px;

    .title-container {
        text-align: center;
        width: 75%;
        margin: 0 auto;
        margin-top: 250px;
        font-size: 1.5em;
        color: #707070;
    }
    .contact-page-circle-1 {
        z-index: -1;
        position: absolute;
        bottom: 100px;
        left: -200px;
        width: 1200px;
        height: 800px;
        background: #E3EFF9;
        transform: rotate(21deg);
    
        @media (max-width: 630px) {
            display: none;
          }
          
    }
   
}